{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}Admin - Users
{% endblock %}


{% block css %}
	<link rel="stylesheet/less" href="/assets/css/admin.less">
{% endblock %}


{% block body %}
	<div class="allpage">
		<div class="sidebar">
			<div class="back">
				<a href="index.html"><img src="/assets/img/back-100.png" alt=""></a>
			</div>
			<div class="admin">
				<img src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/000000/external-astronaut-space-tulpahn-flat-tulpahn.png"/>
				<h4>Bienvenue Admin</h4>
			</div>
			<div class="items">
				<a href="/admin/users">
					<div class="users">
						<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-management-kiranshastry-lineal-color-kiranshastry-9.png"/>
						<h4>Utilisateurs</h4>
					</div>
				</a>

				<div class="question active">
					<img src="/assets/img/icon-question.png"/>
					<h4>Questions</h4>
				</div>
				<a href="/admin/reponse/reponses">
					<div class="answers">
						<img src="/assets/img/icon-answer.png"/>
						<h4>Réponses</h4>
					</div>
				</a>
			</div>
		</div>
		<div class="gestion">
			<div class="titleadd">
				<h3>Gestion des Questions</h3>
				<a href="/admin/adduser"><img src="/assets/img/icon-add.png" class="add"></a>
			</div>
			<table class="users">
				<tr class="sticky">
					<th>Label</th>
					<th>Niveau</th>
					<th>Réponses</th>
					<th>Opération</th>
				</tr>

				<tr>
					{% for question in questions %}

						<td rowspan="3">
							<div class="tache">
								<div class="update">
									<a href="/admin/edituser/{{user.id}}"><img src="/assets/img/icon-update.png" class="imgupdate"></a>
								</div>
								<div class="delete">
									<a href="/admin/users/delete/{{user.id}}"><img src="/assets/img/icon-delete.png" class="imgdelete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ user.username }} ?')"></a>
								</div>
							</td>
						</td>
						<td rowspan="3">{{question.label}}</td>
						<td rowspan="3">{{question.level}}</td>
						{% for reponse in reponses %}
							{% if question.id == reponse.id_question %}
								<td>{{reponse.label}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					{{dump(results)}}
				{% endfor %}
			</tr>
		</table>
	</div>
</div>{% endblock %}
