{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}Admin - Users
{% endblock %}


{% block css %}
	<link rel="stylesheet/less" href="/assets/css/admin.less">
{% endblock %}


{% block body %}
	<div class="allpage">
		<div class="sidebar">
			<div class="back">
				<a href="/"><img src="/assets/img/back-home.png" alt="Home"></a>
			</div>
			<div class="admin">
				<img src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/000000/external-astronaut-space-tulpahn-flat-tulpahn.png"/>
				<h4>Bienvenue Admin</h4>
			</div>
			<div class="items">
				<a href="/admin/users">
					<div class="users">
						<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-management-kiranshastry-lineal-color-kiranshastry-9.png"/>
						<h4>Utilisateurs</h4>
					</div>
				</a>

				<div class="question active">
					<img src="/assets/img/icon-question.png"/>
					<h4>Questions</h4>
				</div>
			</div>
		</div>
		<div class="gestion">
			<div class="titleadd">
				<h3>Gestion des Questions</h3>
				<a href="/admin/question/add"><img src="/assets/img/icon-add.png" class="add"></a>
			</div>
			<table class="users">
				<tr class="sticky">
					<th>Question</th>
					<th>Level</th>
					<th>Réponses</th>
					<th>Opérations</th>
				</tr>

				<tr>
					{% for question in questions %}

					</td>
					<td>{{question.label}}</td>
					<td>{{question.level}}</td>
					<td>
						<a href="/admin/reponse/reponses/{{question.id}}">Voir les réponses</td>
					</td>
					<td>
						<div class="tache">
							<div class="addans">
								<a href="/admin/reponse/add/{{question.id}}"><img src="/assets/img/icon-add-ans.png" class="imgadd"></a>
							</div>
							<div class="update">
								<a href="/admin/question/edit/{{question.id}}"><img src="/assets/img/icon-update.png" class="imgupdate"></a>
							</div>
							<div class="delete">
								<a href="/admin/question/delete/{{question.id}}"><img src="/assets/img/icon-delete.png" class="imgdelete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer la question : {{question.label}} ?')"></a>
							</div>
						</td>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>{% endblock %}
