{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}Admin - Users
{% endblock %}


{% block css %}
	<link rel="stylesheet/less" href="/assets/css/admin.less">
{% endblock %}


{% block body %}
	<div class="allpage">
		<div class="sidebar">
			<div class="back">
				<a href="index.html"><img src="/assets/img/back-100.png" alt=""></a>
			</div>
			<div class="admin">
				<img src="https://img.icons8.com/external-tulpahn-flat-tulpahn/64/000000/external-astronaut-space-tulpahn-flat-tulpahn.png"/>
				<h4>Bienvenue Admin</h4>
			</div>
			<div class="items">
				<div class="users active">
					<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-management-kiranshastry-lineal-color-kiranshastry-9.png"/>
					<h4>Utilisateurs</h4>
				</div>
				<div class="question">
					<img src="/assets/img/icon-question.png"/>
					<h4>Questions</h4>
				</div>
				<div class="answers">
					<img src="/assets/img/icon-answer.png"/>
					<h4>Réponses</h4>
				</div>
			</div>
		</div>
		<div class="gestion">
			<div class="titleadd">
				<h3>Gestion des Utilisateurs</h3>
				<a href="/admin/adduser"><img src="/assets/img/icon-add.png" class="add"></a>
			</div>
			<table class="users">
				<tr class="sticky">
					<th>ID</th>
					<th>Nom d'utilisateur</th>
					<th>Email</th>
					<th>Rôle</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Date de création</th>
					<th>Opération</th>
				</tr>
				{% for user in users %}
					<tr>
						<td>{{user.id}}</td>
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
						<td>{{user.roles}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.createdAt}}</td>
						<td>
							<div class="tache">
								<img src="/assets/img/icon-update.png" class="update">
								<a href="/admin/users/delete/{{user.id}}"><img src="/assets/img/icon-delete.png" class="delete"></a>
							</td>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<p>
		{% for user in users %}
			<ul>
				<li>{{user.username}}</li>
			</ul>
		{% endfor %}
	</p>

{% endblock %}
