{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }}Profile
{% endblock %}


{% block css %}
<link rel="stylesheet/less" href="/assets/css/login.less">
{% endblock %}


{% block body %}
<!-- messages -->
<div class="container">

	<div class="left-content">
		<div class="fullname-container">

		</div>
		<nav>
			<ul>
				<li>Compte</li>
				<li>Mot de passe</li>
			</ul>
		</nav>
	</div>

	<div class="main-content">
		<div class="img-container">
			<img src="assets/img/signup.png" alt="">
		</div>
		<div class="form-container">
			<form method="POST">
				<input type="hidden" name="action" value="signUp">
				<h2>Creer un compte</h2>
				<div class="field">
					<label for="lastName">Nom</label>
					<input type="text" name="lastName" id="lastName" value="{{post.lastName}}">
					<p class="message warning">{{registerMessages.lastName}}</p>
				</div>
				<div class="field">
					<label for="firstName">Prenom</label>
					<input type="text" name="firstName" id="firstName" value="{{post.firstName}}">
					<p class="message warning">{{registerMessages.firstName}}</p>
				</div>
				<div class="field">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" value="{{post.username}}">
					<p class="message warning">{{registerMessages.username}}</p>
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" value="{{post.email}}">
					<p class="message warning">{{registerMessages.email}}</p>
				</div>
				<div class="field">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password">
					<p class="message warning">{{registerMessages.password}}</p>
				</div>
				<div class="field">
					<label for="passwordConfirmation">Confirmer mot de passe</label>
					<input type="password" name="passwordConfirmation" id="passwordConfirmation">
				</div>
				<div class="buttons">
					<a class="btn outline toggle">Se connecter</a>
					<button type="submit" class="btn fill">S'inscrire</button>
				</div>
			</form>
		</div>


	</div>
</div>
{% endblock %}


{% block bottom_js %}
<script>
	console.log(document.querySelectorAll('.toggle'))
	document.querySelectorAll('a.toggle').forEach(element => {
		element.addEventListener('click', toggle)
	})

	function toggle() {
		document.querySelector('.content').classList.toggle('signing-up')
	}
</script>
{% endblock %}